api = "0.7"

[buildpack]
  description = "A buildpack for installing Composer, a dependency manager for PHP"
  homepage = "https://github.com/paketo-buildpacks/composer"
  id = "paketo-buildpacks/composer"
  keywords = ["php", "composer"]
  name = "Paketo Buildpack for Composer"
  sbom-formats = ["application/vnd.cyclonedx+json", "application/spdx+json", "application/vnd.syft+json"]

  [[buildpack.licenses]]
    type = "Apache-2.0"
    uri = "https://github.com/paketo-buildpacks/composer/blob/main/LICENSE"

[metadata]
  include-files = ["bin/build", "bin/detect", "bin/run", "buildpack.toml"]
  pre-package = "./scripts/build.sh"
  [metadata.default-versions]
    composer = "*"

  [[metadata.dependencies]]
    checksum = "sha256:aab940cd53d285a54c50465820a2080fcb7182a4ba1e5f795abfb10414a4b4be"
    cpe = "cpe:2.3:a:getcomposer:composer:2.7.7:*:*:*:*:python:*:*"
    id = "composer"
    licenses = ["MIT"]
    name = "composer"
    purl = "pkg:generic/composer@2.7.7?checksum=aab940cd53d285a54c50465820a2080fcb7182a4ba1e5f795abfb10414a4b4be&download_url=https://getcomposer.org/download/2.7.7/composer.phar"
    source = "https://getcomposer.org/download/2.7.7/composer.phar"
    source-checksum = "sha256:aab940cd53d285a54c50465820a2080fcb7182a4ba1e5f795abfb10414a4b4be"
    stacks = ["*"]
    uri = "https://getcomposer.org/download/2.7.7/composer.phar"
    version = "2.7.7"

  [[metadata.dependencies]]
    checksum = "sha256:3da35dc2abb99d8ef3fdb1dec3166c39189f7cb29974a225e7bbca04c1b2c6e0"
    cpe = "cpe:2.3:a:getcomposer:composer:2.7.8:*:*:*:*:python:*:*"
    id = "composer"
    licenses = ["MIT"]
    name = "composer"
    purl = "pkg:generic/composer@2.7.8?checksum=3da35dc2abb99d8ef3fdb1dec3166c39189f7cb29974a225e7bbca04c1b2c6e0&download_url=https://getcomposer.org/download/2.7.8/composer.phar"
    source = "https://getcomposer.org/download/2.7.8/composer.phar"
    source-checksum = "sha256:3da35dc2abb99d8ef3fdb1dec3166c39189f7cb29974a225e7bbca04c1b2c6e0"
    stacks = ["*"]
    uri = "https://getcomposer.org/download/2.7.8/composer.phar"
    version = "2.7.8"

  [[metadata.dependency-constraints]]
    constraint = "2.*"
    id = "composer"
    patches = 2

[[stacks]]
  id = "*"
